:root{
    --primary-color: rgba(13,110,139,0.75);
    --secondary-color:rgba(229,148,0,0.9);
    --overlay-color:rgba(24,39,51,0.85);
    --menu-speed:0.75s;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container{
    max-width: 960px;
    margin: auto;
    padding: 0 3rem;

}

#showcase{
    height: 100vh;
    background: var(--primary-color);
    color: white;
    position: relative;
   
}

#showcase::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    background: url('../img/img.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#showcase .showcase-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#showcase h1{
    font-size: 4rem;
}

#showcase p{
    font-size: 1.3rem;
}

.btn{
    padding: 0.75rem 1.5rem;
    border: 0;
    background:var(--primary-color);
    margin-top: 1rem;
    color: white;
    display: inline-block;
    transition: all var(--menu-speed) ease-in-out;
    text-decoration: none;
}

.btn:hover{
    opacity: 0.7;
}

